// Menu wrapper
.menuList {
    width: 223px;

    // Menu item
    .menuItem {
        justify-content: flex-start;
        padding: 10px 8px 10px 16px;
        margin-left: 0;
        width: 100%;
        border-radius: 0;
        font-weight: 600;

        &.separate {
            border-top: 1px solid rgba(22, 24, 35, 0.12);
        }

        &:hover {
            background-color: rgba(22, 24, 35, 0.03);
        }
    }
}

.menuPopper {
    padding-bottom: 8px;
}

// Header
.header {
    position: relative;
    height: 50px;
    margin-top: -8px;
}
.backBtn {
    width: 50px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
}
.headerTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
